.sidebar{
    position: sticky;
    top: 0;
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 20px;
    gap: 20px;
    height: 97vh;

    .twitter__iconContainer{
        .twitter__icon{
            font-size: 50px;
            color: #1DA1F2;
        }
        margin-bottom: 30px;
    }

    .sidebar__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        .item__icon{
            padding-top: 5px;   
        }
        .item__text{
            font-size: 20px;
            margin-left: 20px;
            font-family: 'Varela Round', sans-serif;
            font-weight: 600;
        }

        &:hover{
            color: #1DA1F2;
            transition: 0.5s;
        }
    }
    .tweet__button{
        background-color: #1DA1F2;
        border: none;
        width: 220px;
        color: white;
        padding: 13px;
        font-size: 16px;
        border-radius: 25px;
        font-weight: 600;
    }

    .bottom__container{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 20px;
        align-items: center;

        .profilePic__container{
            img{
                border-radius: 100%;
                height: 50px;
                width: 50px;
            }
        }
        .name__container{
            display: flex;
            flex-direction: column;
            justify-content: left;
            gap: 5px;
            .name{
                font-weight: 500;
            }
        }
    }

}