.new{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    // border-bottom: 1px solid lightgray;

    .top__items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .home__text{
            font-size: 25px;
            font-weight: 600;
        }
        // .star__icon{

        // }
    }
    .middle__items{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            height: 50px;
            width: 50px;
            border-radius: 100%;
        }
        input{
            width: 80%;
            height: 100px;
            margin-left: 20px;
            font-size: 20px;
            background-color: inherit;
            border: none;

            &:focus{
                outline: none;
            }
        }
    }
    .bottom__items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        align-items: center;
        .icons__list{
            display: flex;
            flex-direction: row;
            gap: 15px;
            color: #1DA1F2;
            margin-left: 60px;
        }
        .tweet__button{
            padding: 10px 20px;
            border-radius: 25px;
            font-size: 16px;
            font-weight: 600;
            background-color: #1DA1F2;
            color: white;
            border: none;
        }
    }
}